img {
	width: 100px;
	height: 100px;
}

#cart img{
	display:none;
}

section img{
height: 450px;
width: 300px;
}

div {
	border-radius: 5px;
}

#header {
	z-index: 1;
	position: fixed;
	width: 97.5%;
	margin-top: -20px;
	height: 150px;
	background-color: #FF00CC;
	margin-bottom: 10px;
	border-radius: 5px;
}


td{
	border: 1px pink solid;

}
.left {
	position: fixed;
	float: left;
	margin-top: 140px;
	width: 40%;
	background-color: white;
	margin-bottom: 10px;
	border: 3px pink solid;
	border-radius: 5px;
}

  #cart {
	position: relative;
	float: right;
	margin-top: 140px;
	width: 380px;
	height: 350px;
	border-radius: 5px;
	background-color: #FFCCFF;
	margin-bottom: 10px;
	margin-right: 400px;
	border: 3px pink solid;
	overflow: scroll;
}

  #order {
	position: relative;
	float: right;
	width: 380px;
	height: 90px;
	background-color: #FFCCFF;
	border: 3px pink solid;
	margin-bottom: 10px;
	margin-right: 400px;	
	border-radius: 5px;
}

#tips {
	position: relative;
	border-radius: 5px;
	float: right;
	width: 310px;
	height: 460px;
	background-color: #FFCCFF;
	border: 3px pink solid;
	margin-bottom: 10px;
	margin-top: -365px;
	margin-right: -710px;
	margin-left: 300px
	border-radius: 5px;
}

li a{
    text-decoration: none;
    font-family: cursive
}


.right p{
	font-size: 16px;
	font-family: Geramond;
	color: black;
}

div h2{
	font-family: Geramond;
	color: black;
	font-size: 16px;
}

div a{	
	font-family: Geramond;
	font-size: 16px;
	color: black;
	text-decoration: none;
	border: px;
}


a:hover {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

#navbar{
	margin-top: -100px;
	margin-right: 100px;
}

div li{
  float:right;
	font-family: Geramond;
	font-size: 16px;
	color: white
	list-style-type: none;
	display: inline;
	margin-left: 10px;
	margin-right: 10px
}

#cart li{
	list-style-type: none;
}

button {
	border-radius: 5px;
	border: 2px solid;
	background-color: purple;
	height: 30px;
	width: 100px;
	margin: auto;
	text-align: center;
	}
	 
	
